// Place all the styles related to the customers::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-container{
  background-color: #fccc3c;
}

#images{
  justify-content: flex-end;
  height: 600px;
  width: 100%;
}
.image1 {
  height: 1000px;
  background-image: image-url("top1.jpg");
}

.image2{
  height: 1000px;
  background-image: image-url("top2.jpg");
}

.image3{
  height: 1000px;
  background-image: image-url("top3.jpg");
}

.image4{
  height: 1000px;
  background-image: image-url("top4.jpg");
}

.image5{
  height: 1000px;
  background-image: image-url("top5.jpg");
}

