<div class="container" id="items-container">
  <div class="row">
    <h1 class="col-lg-12 text-center">お気に入り商品</h1>
    <div id="favorite_items" class="row col-lg-12">
      <%= render 'item', items: @favorite_items %>
      
    </div>
  </div>

  <div class="row">
    <h1 class="col-lg-12 text-center">商品一覧</h1>
    <%= render 'item', items: @items%>

  </div>
</div>


