<div class="container-fluid">
  <h2 class="mx-9 my-3">注文履歴一覧</h2>
  <table class="table table-striped">
    <thead>
       <tr class="table-head" style="background-color:#fce4ec;">
        <tr>
          <th>お客様名</th>
          <th>注文個数</th>
        </tr>
      </thead>

      <tbody class="table-body" style="background-color:#fddea5">
         <% @orders.each do |order| %>
         <td>
           <%= link_to admins_order_path(order) do %>
        <% end %>
        </td>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <td>
          <%= order.order_items.sum(:number_of_piaces) %>
        </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>