<div class='fixed-bottom'>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
        <li class="nav-item">


        <li class="nav-item">
          <a class="navbar-brand" href="#">© DMM WEBCAMP 2021 TAKITA YUKIKO</a>
          <%= link_to destroy_customer_session_path, method: :delete, class: "btn mr-5", style: "background-color: #800080; color: white; " do %>
          ログアウト
          <i class="fas fa-door-open"></i>
          <% end %>
        </li>

      <% else %>
      <a class="navbar-brand" href="#">© DMM WEBCAMP 2021 TAKITA YUKIKO</a>
     <% end %>
    </span>
  </div>
</nav>
</div>